.container {
    width: 960px;
}

#brand {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}